:root {
  --main-font: #4e5862;
  --pale-font: #8d8d8d;
  --accent: #ed0400;
  --accent-hover: #ed2f00;
  --price: #e0773e;
  --white: #fff;
  --grey-bg: #e6e6e6;
  --grey-bg-hover: #d1d1d1;
  --blue-bg: #5da4da;
  --grey-section-bg: #f8f8f8;
  --dark-grey: #c7c7c7;
  --footer-bg: #f0f0f0;
}
